<div class="d-flex justify-content-center align-items-center h-100 w-100">
    <div class="container h-100 d-flex flex-column">
        <div class="row flex-grow-1 justify-content-center align-items-center text-center">
            <div class="col fs-4 text-dark">My Typing</div>
        </div>
        <div class="row flex-grow-1 justify-content-center align-items-center">
            <div class="col-6 p-5 shadow rounded-3">
                <input class="form-control form-control-lg" type="text" id="nickName" placeholder="닉네임">
                <label for="quizSizeBar" class="form-label m-4">문제 수 (<span id="quizSize">12</span>개)</label>
                <input type="range" class="form-range" min="1" max="12" value="12" id="quizSizeBar">
                <label class="form-label">1</label><label class="form-label float-end">12</label>
            </div>
        </div>
        <div class="row flex-grow-1 justify-content-center align-items-center">
            <div class="col-3"></div>
            <div class="col-6 fs-5">

            </div>
            <div class="col-3"></div>
        </div>
        <div class="row flex-grow-1 align-items-center">
            <div class="col d-flex justify-content-center">
                <a class="router" href="javascript:void(0)" id="playBtn">
                    <button type="button" class="btn btn-secondary btn-lg">
                        시작
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>