<div class="d-flex justify-content-center align-items-center h-100 w-100">
    <div class="container h-100 d-flex flex-column">
        <div class="row flex-grow-1 justify-content-center align-items-center">
            <div class="col fs-4">남은 시간 : <span id="time">10</span>초</div>
            <div class="col fs-4 text-end">점수 : <span id="score">9</span>점</div>
        </div>
        <div class="row flex-grow-1 justify-content-center align-items-center">
            <div class="col-6 p-5 text-center shadow rounded-3">
                <h1 id="text">문제 단어</h1>
                <input class="form-control form-control-lg mt-5" type="text" id="answer">
            </div>
        </div>
        <div class="row flex-grow-1 align-items-center">
            <div class="col d-flex justify-content-center">
                <a class="router" href="#">
                    <button type="button" class="btn btn-primary btn-lg">
                        초기화
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>