<div class="d-flex justify-content-center align-items-center h-100 w-100">
    <div class="container h-100 d-flex flex-column">
        <div class="row flex-grow-1 align-items-center">
            <div class="col fs-1 text-center">Mission Complete!</div>
        </div>
        <div class="row flex-grow-1 align-items-center text-center">
            <div class="col fs-4 p-5 shadow rounded-3">
                <div>
                    <span id="resultNickName">당신</span>의 점수는 <span id="resultScore">4</span>점입니다.
                </div>
                <div class="col fs-4 mt-4" id="resultSecond">단어당 평균 답변 시간은 4초 입니다.</div>
            </div>
        </div>
        <div class="row flex-grow-1 align-items-center">
            <div class="col d-flex justify-content-center">
                <a class="router" href="#">
                    <button type="button" id="resultBtn" class="btn btn-primary btn-lg">
                        처음으로
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>